* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
    padding: 15% 0% 15% 2%;
}

h2 {
    color: white;
    padding-top: 1%;
}

.title {
    background-color: rgb(0, 109, 128);
    padding-left: 3%;
    padding-right: 3%;
}

.header {
    background-image: url(https://engie15.github.io/images/mt-martha.png);
    padding-top: 2%;
    margin-top: 3%;
}

.main-text {
    margin-top: 6.5%;
}

.main-heading {
    color: white;
    border-bottom: 5px solid;
    margin-top: 6%;
    margin-left: 2%;
    font-size: 2em;
}

.blog-title {
    font-size: 1.2em;
    margin-left: 2.5%;
}

a {
    color: rgb(125, 224, 224);
}

@media (max-width: 960px), (min-width: 550px) {
    .navbar {
        position: sticky;
        padding-bottom: 1%;
        border-bottom: 3px solid rgb(0, 109, 128);
        max-width: 960px center;
    }
}

ul {
    text-align: right;
    margin: 0.4rem;
}

.toplinks {
    display: inline;
    padding: 2% 4% 6% 4%;
    color: #999999;
    list-style: none;
}

head {
    background-color: #999999;
}

.navbarname {
    display: inline;
    color:#999999;
}

.blog {
    background-color: rgb(0, 109, 128);
}

@media (min-width: 550px), (max-width: 960px) {
    .bottom-banner{
        background-color:rgb(68, 64, 64);
    }
}

.bottom-banner {
    color: white;
    font-size: 1em;
    padding-top: 6%;
    padding-bottom: 3%;
}

.blog question {
    background-color: white;
}

h3 {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2.5%;
    font-size: 1.5em;
    font-weight: bold;
}

.blog-content {
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

.top {
    color: #999999;
    list-style: none;
    text-decoration: none;
    font-size: 1.5em;
}

.content {
    color: black;
    display: block;
    text-align: left;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 4%;
    list-style-type: circle;   
}

.index-page {
    text-align: center;
}

.linkedin {
    margin-left: 1%;
    padding-left: 1%;
}

ol {
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 0%;
    padding-top: 1%;
}

.bottom {
    color: #999999;
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
}

h6 {
    padding-left: 6%;
    padding-right: 6%;
}

.six columns, ol {
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 0%;
    padding-top: 1%;
}

li {
    padding-left: 5%;
    padding-right: 3%;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    font-style: italic;
    padding: 5px 2px 2px 2px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

.fresh-prince {
    color: rgb(0, 109, 128);
}
