* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 550px) {
    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;}
}