* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

.image {
    display: flex;
    max-width: 900px;
    max-height: 450px;
}

h1 {
    color: white;
    padding: 15% 0% 15% 2%;
}

h2 {
    font-size: em;
    color: white;
}

.header {
    background-image: url(https://engie15.github.io/images/mt-martha.png);
    padding-top: 2%;
    margin-top: 3%;
}

.main-text {
    margin-top: 6.5%;
}

.main-heading {
    color: white;
    border-bottom: 1% solid;
    margin-top: 6%;
    margin-left: 2%;
    font-size: 2em;
}

.blog-title {
    font-size: 1.2em;
    margin-left: 2.5%;
}

a {
    color: rgb(125, 224, 224);
}

@media (max-width: 960px), (min-width: 550px) {
    .navbar {
        position: sticky;
        padding-bottom: 1%;
        border-bottom: 3px solid rgb(0, 109, 128);
        max-width: 960px center;
    }
}
nav .navbar ul li {
    display: inline-flex;
    list-style-type: disc;
}

ul {
    list-style: none;
    text-align: right;
    margin: 0.4rem;
}

li {
    display: inline;
    padding: 2% 4% 6% 4%;
    color: #999999;
}

head {
    background-color: #999999;
}

.navbarname {
    display: inline;
    color:#999999;
}

.blog {
    background-color: rgb(0, 109, 128);
}

@media (min-width: 550px), (max-width: 960px) {
    .bottom-banner{
        background-color:rgb(68, 64, 64);
    }
}

.bottom-banner {
    color: white;
    font-size: 1em;
    padding-top: 6%;
    padding-bottom: 3%;
}