* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

.image {
    display: flex;
    max-width: 900px;
    max-height: 450px;
}

.twelve columns {
    background-image: url(https://engie15.github.io/images/)
}